.button {
    border: none;
    padding: 8px 16px;
    background-color: var(--color-primary);
    color: var(--color-black);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

    &:hover{
        background-color: var(--color-primary-hover);
    }


    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &.cancel {
        background-color: #f78484;

        &:hover {
            background-color: #f5a2a2;
        }
    }
}