<div class="card">
    <div class="card__header">
        <h3 class="card__title">{{card.titulo}}</h3>
        <mat-icon class="card__icon card__icon--edit" fontIcon="edit_note"></mat-icon>
    </div>
    <div class="card__body">
        <p class="card__description" [innerHTML]="card.conteudo"></p>
    </div>
    <div class="card__footer">
        <div class="card__footer__actions">
            <mat-icon 
                class="card__icon" 
                [class.hidden]="!controlBack" 
                fontIcon="arrow_back_ios_new"
                (click)="handleClickBack()"></mat-icon>
            <mat-icon 
                class="card__icon card__icon--delete" 
                fontIcon="delete"
                (click)="handleDelete()"></mat-icon>
            <mat-icon 
                class="card__icon" 
                [class.hidden]="!controlNext" 
                fontIcon="arrow_forward_ios" 
                (click)="handleClickNext()"></mat-icon>
        </div>
    </div>
</div>
