<div class="card" cdkDrag>
    <div class="card__header">
        <h3 class="card__title">{{card.titulo}}</h3>
        <mat-icon class="card__icon card__icon--edit" fontIcon="edit_note"></mat-icon>
    </div>
    <div class="card__body">
        <p class="card__description">{{card.conteudo}}</p>
    </div>
    <div class="card__footer">
        <div class="card__footer__actions">
            <mat-icon class="card__icon" fontIcon="arrow_back_ios_new"></mat-icon>
            <mat-icon class="card__icon card__icon--delete" fontIcon="delete"></mat-icon>
            <mat-icon class="card__icon" fontIcon="arrow_forward_ios"></mat-icon>
        </div>
    </div>
</div>
