.card {
    background-color: var(--color-gray-200);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 32px;
    cursor: grab;

    &__header {
        display: flex;
    }

    &__title {
        position: relative;
        color: var(--color-white);
        font-size: 1rem;
        margin-bottom: 16px;
        padding-bottom: 16px;
        flex: 1;

        &::after {
            position: absolute;
            content: '';
            width: 20%;
            height: 4px;
            background-color: var(--color-blue);
            border-radius: 10px;
            left: 0;
            bottom: 0;
        }
    }

    &__description {
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 200;
    }

    &__icon {
        color: var(--color-primary);
        width: 21px;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: var( --color-primary-hover);
        }

        &--edit {
            margin-left: 5px;
        }

        &--delete {
            color: #f51818;

            &:hover {
                color: #d91111;
            }
        }
    }

    &__footer {
        margin-top: 46px;

        &__actions {
            display: flex;
            justify-content: space-between;
        }
    }
}