<form class="card" [formGroup]="form">
    <div class="card__header">
        <h3 class="card__title">
            <ng-container *ngIf="isModeView; else templateModeEdit">
                {{card.titulo}}
            </ng-container>
            <ng-template #templateModeEdit>
                <ui-input placeholder="Cadastre seu titulo" formControlName="titulo"/>
            </ng-template>
        </h3>
        <mat-icon *ngIf="isModeView" class="card__icon card__icon--edit" fontIcon="edit_note" (click)="edit()"></mat-icon>
    </div>
    <div class="card__body" [class.card__body--edit]="!isModeView">
        <ng-container *ngIf="isModeView; else templateModeEditDescription">
            <div class="card__description" [innerHTML]="byPassHTML(card.conteudo)"></div>
        </ng-container>
        <ng-template #templateModeEditDescription>
            <quill-editor 
            formControlName="conteudo"
            [modules]="quillConfig" 
            [sanitize]="true" 
            [styles]="{width: '100%', height: '150px'}"></quill-editor>
        </ng-template>
    </div>
    <div class="card__footer">
        <div class="card__footer__actions">
            <ng-container *ngIf="isModeView; else templateModeEditAction">
                <mat-icon 
                    class="card__icon" 
                    [class.hidden]="!controlBack" 
                    fontIcon="arrow_back_ios_new"
                    (click)="handleClickBack()"></mat-icon>
                <mat-icon 
                    class="card__icon card__icon--delete" 
                    fontIcon="delete"
                    (click)="handleDelete()"></mat-icon>
                <mat-icon 
                    class="card__icon" 
                    [class.hidden]="!controlNext" 
                    fontIcon="arrow_forward_ios" 
                    (click)="handleClickNext()"></mat-icon>
            </ng-container>
            <ng-template #templateModeEditAction>
                <ui-button (click)="isModeView = true" styleType="cancel">Cancelar</ui-button>
                <ui-button (click)="save()">Salvar</ui-button>
                <!-- <mat-icon 
                    class="card__icon  card__icon--cancel" 
                    fontIcon="cancel"
                    (click)="isModeView = true"></mat-icon>
                <mat-icon 
                    class="card__icon" 
                    fontIcon="save"
                    (click)="save()"></mat-icon> -->
            </ng-template>
        </div>
    </div>
</form>
