<div class="signin">
    <img class="signin__logo" src="https://ada-site-frontend.s3.sa-east-1.amazonaws.com/home/header-logo.svg" alt="">
    <span class="signin__title">Faça seu login para acessar o Kanban</span>
    <form class="signin__form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="signin__form-field">
            <ui-input placeholder="Digite o login" formControlName="login"/>
        </div>
        <div class="signin__form-field">
            <ui-input type="password" placeholder="Digite a senha" formControlName="senha"/>
        </div>

        <div class="signin__form-actions">
            <ui-button [isDisabled]="form.invalid"
                typeButton="submit" [isLoading]="isLoading">Acessar</ui-button>
        </div>
    </form>
</div>