<div class="box">
    <h3 class="box-title">Seja bem vindo ao Kanban ADA</h3>
    <span class="box-description">Faça seu login para acessar o sistema</span>
    <form class="box-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="box-form-field">
            <input type="text" placeholder="Login" formControlName="login">
        </div>
        <div class="box-form-field">
            <input type="password" placeholder="Senha" formControlName="senha">
        </div>

        <div class="form-actions">
            <ui-button [isDisabled]="form.invalid"
                typeButton="submit" [isLoading]="isLoading">Entrar no board</ui-button>
        </div>
    </form>
</div>