:host {
    display: block;
    background: var(--color-white);
    border-radius: 8px;
    padding: 32px;
}

.modal {
    &__title {
        margin-bottom: 32px;
        font-size: 1.5rem;
        color: var(--color-gray-100);
        font-weight: 400;
    }

    &__form {
        &__input {
            display: block;
            margin-bottom: 32px;
        }

        &__editor {
            width: 100%;
            margin-bottom: 32px;
        }

        &__footer {
            text-align: right;
        }
    }
}
  