:host {
    display: block;
    background: var(--color-white);
    border-radius: 8px;
    padding: 32px;
}

.modal {
    &__title {
        margin-bottom: 32px;
        font-size: 1.5rem;
        color: var(--color-gray-100);
        font-weight: 400;
    }

    &__form {
        &__input {
            width: 100%;
            outline: none;
            padding: 0.625rem 1.25rem;
            font-size: 1rem;
            color: var(--color-gray-100);
            line-height: 2;
            border: 1px solid #ccc;
            margin-bottom: 32px;

            &:focus, &:active {
                border-color: var(--color-gray-100);
            }
        }

        &__editor {
            width: 100%;
            margin-bottom: 32px;
        }

        &__footer {
            text-align: right;
        }
    }
}
  