<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="ToDo"
    [cdkDropListConnectedTo]="[doingList, doneList]"
    class="example-list"
    [id]="'todoList'"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of ToDo" cdkDrag>
      {{item.titulo}}
      <button (click)="handleClickNext(item, 'Doing')"> + </button>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Doing</h2>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="Doing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    [id]="'doingList'"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of Doing" cdkDrag>
      <button (click)="handleClickPrev(item, 'ToDo')"> - </button>
      {{item.titulo}}
      <button (click)="handleClickNext(item, 'Done')"> + </button>
    </div>
  </div>
</div>


<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="Done"
    [cdkDropListConnectedTo]="[todoList, doingList]"
    class="example-list"
    [id]="'doneList'"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of Done" cdkDrag>
      <button (click)="handleClickPrev(item, 'Doing')"> - </button>
      {{item.titulo}}
    </div>
  </div>
</div>
