<div class="container board">
    <h1 class="title board__title">Board ADA</h1>

    <div class="board__content">
        <div class="board__column" 
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="cardsGroup.ToDo"
            [cdkDropListConnectedTo]="[doingList, doneList]"
            [id]="'todoList'"
            (cdkDropListDropped)="drop($event)">
            <h2 class="board__column__title">To Do</h2>
            <div class="board__column__cards" >
                <ng-container *ngFor="let card of cardsGroup.ToDo">
                    <ui-card 
                    [card]="card"
                    [controlBack]="false"  
                    cdkDrag 
                    (clickEventNext)="handleEventClick($event, 'Doing')"></ui-card>
                </ng-container>
            </div>
        </div>
        <div class="board__column" 
            cdkDropList
            #doingList="cdkDropList"
            [cdkDropListData]="cardsGroup.Doing"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            [id]="'doingList'"
            (cdkDropListDropped)="drop($event)">
            <h2 class="board__column__title">Doing</h2>
            <div class="board__column__cards">
                <ng-container *ngFor="let card of cardsGroup.Doing">
                    <ui-card 
                    [card]="card" 
                    cdkDrag 
                    (clickEventBack)="handleEventClick($event, 'ToDo')"
                    (clickEventNext)="handleEventClick($event, 'Done')"></ui-card>
                </ng-container>
            </div>
        </div>
        <div class="board__column"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="cardsGroup.Done"
            [cdkDropListConnectedTo]="[todoList, doingList]"
            [id]="'doneList'"
            (cdkDropListDropped)="drop($event)">
            <h2 class="board__column__title">Done</h2>
            <div class="board__column__cards">
                <ng-container *ngFor="let card of cardsGroup.Done">
                    <ui-card 
                    [card]="card" 
                    [controlNext]="false" 
                    cdkDrag 
                    (clickEventBack)="handleEventClick($event, 'Doing')"></ui-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>
