.board {
    
    &__title {
        margin: 32px 0;
    }

    &__content {
        display: flex;
        gap: 32px;
    }

    &__column {
        background-color: var(--color-gray-100);
        padding: 32px;
        border-radius: 10px;
        width: 25%;

        &__title {
            margin-bottom: 32px;
            color: var(--color-white);
            font-size: 1rem;
            font-weight: 300;
        }
    }
}